@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

//Font
$font: "Space Mono", monospace;

//Unchanged Colors
$secondary: rgb(0, 121, 255);
$btn-hover: rgb(96, 171, 255);
$error: rgb(247, 70, 70);
