@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

//Font
$font: "Space Mono", monospace;

//Colors
$background: rgb(246, 248, 255);
$component-background: rgb(254, 254, 254);

$text: rgb(43, 52, 66);
$secondary: rgb(0, 121, 255);
$third: rgb(105, 124, 154);
$social: rgb(75, 106, 155);

//Shadow
$shadow: 0 4px 4px rgba(0, 0, 0, 25%);

//Hover
$btn-hover: rgb(96, 171, 255);

$error: rgb(247, 70, 70);

//Dark-mode
// $background: rgb(20, 29, 47);
// $component-background: rgb(30, 42, 71);

// $text: rgb(255, 255, 255);
// $secondary: rgb(0, 121, 255);
// $third: rgb(105, 124, 154);
